.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar{
  background-color: rgba(0, 0, 0, 0.07);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list a:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

a:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

.mdc-list-item__primary-text{
  color: #fff;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;
}

/* card */
.card-header{
  background-color: rgba(0, 0, 0, 0.07);
}

.card-title {
  color: #0A58CA;
}
